<li class="nav-item dropdown has-megamenu">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Bussiness Incorporation</a>
  <div class="dropdown-menu megamenu" role="menu">
    <div class="row g-3">
      <div class="col-lg-6 col-6">
        <div class="col-megamenu">
        <h6 class="title"><strong>Business Registration</strong></h6>
          <ul class="list-unstyled">
              <li><a routerLink="/private-limited-company">Private Limited Company </a></li>
              <li><a routerLink="/limited-liablity-partnership">Limited Liability Partnership  </a></li>
              <li><a routerLink="/one-person-company">One Person Company </a></li>
              <li><a routerLink="/partnership-firm">Partnership Firm </a></li>
              <li><a routerLink="/sole-proprietorship-firm">Sole Proprietorship Firm </a></li>
                <!--<li><a routerLink="subsidiary-registration-in-india.php">Register an Indian Subsidiary</a></li>-->
            <li><a routerLink="/section-eight-company-registration">Section 8 Company Registration</a></li>
            <li><a routerLink="/producer-company-registration">Producer Company Registration</a></li>
            <li><a routerLink="/nidhi-company">Nidhi Company </a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
        <div class="col-lg-6 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Bussiness Conversion</strong></h6>
          <ul class="list-unstyled">
              <li><a routerLink="/proprietorship-to-partnership">Proprietorship to Partnership</a></li>
              <li><a routerLink="/proprietorship-to-limited-liablity-partnership">Proprietorship to LLP </a></li>
              <li><a routerLink="/proprietorship-to-private-limited-company">Proprietorship to Private Limited Company</a></li>
              <li><a routerLink="/proprietorship-to-one-person-company">Proprietorship to OPC</a></li>
              <li><a routerLink="/partnership-to-limited-liablity-partnership">Partnership to LLP</a></li>
              <li><a routerLink="/partnership-to-private-limited-company">Partnership to Private Limited Company</a></li>
              <li><a routerLink="/one-person-company-to-private-limited-company">OPC to Private Limited Company</a></li>
              <li><a routerLink="/private-limited-company-to-limited-liablity-partnership">Private Limited company to LLP</a></li>
              <li><a routerLink="/private-company-to-public-company">Private company to Public company</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
    </div><!-- end row -->
  </div> <!-- dropdown-mega-menu.// -->
</li>
