<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
	<!--<a class="navbar-brand" href="#">PB</a>-->
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="">PB<i class="bi bi-list"></i></span>
	</button>
	<div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav">
			<app-business-incorporation-navbar></app-business-incorporation-navbar>
			<app-income-tax-navbar></app-income-tax-navbar>
			<app-goods-and-service-tax-navbar></app-goods-and-service-tax-navbar>
			<app-registration-and-licences-navbar></app-registration-and-licences-navbar>
			<app-legal-drafting-navbar></app-legal-drafting-navbar>
			<app-trademark-ip-navbar></app-trademark-ip-navbar>
			<app-compliance-navbar></app-compliance-navbar>
		</ul>
	</div>
</div>
</nav>
</div>
