<li class="nav-item dropdown has-megamenu">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Legal Drafting</a>
  <div class="dropdown-menu megamenu" role="menu">
    <div class="row g-3">
      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Corporate</strong></h6>
          <ul class="list-unstyled">
             <li><a routerLink="/adding-director-resolution">Adding a Director Resolution</a></li>
              <li><a routerLink="/resignation-director-resolution">Resignation of Director resolution</a></li>
              <li><a routerLink="/noc-address-proof">No Objection Certificate (for address proof)</a></li>
              <li><a routerLink="/private-limited-company-to-limited-liablity-partnership-resolution">Pvt Ltd Company to LLP resolution</a></li>
              <li><a routerLink="/share-holder-agreement">Shareholders Agreement</a></li>
              <li><a routerLink="/term-sheet">Term Sheet</a></li>
              <li><a routerLink="/non-disclosure-agreement">Non-Disclosure Agreement</a></li>
              <li><a routerLink="/private-limited-company-to-public-limited-company-resolution">Private Limited Company to Public Limited Company resolution </a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->

      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Employment</strong></h6>
          <ul class="list-unstyled">

                <li><a routerLink="/appointment-letter">Appointment Letter</a></li>
                <li><a routerLink="/completion-of-probation-letter">Completion of Probation Letter</a></li>
                <li><a routerLink="/employee-termination-notice">Employee Termination Notice</a></li>
                <li><a routerLink="/employee-contract">Employment Contract</a></li>
                <li><a routerLink="/employment-agreement">Employment Agreement</a></li>
                <li><a routerLink="/job-offer-rejection-letter">Job Offer Rejection Letter</a></li>
                <li><a routerLink="/nda-for-employees">NDA for Employees</a></li>
                <li><a routerLink="/offer-letter">Offer Letter</a></li>
                <li><a routerLink="/resignation-letter">Resignation Letter</a></li>
                <li><a routerLink="/relieving-letter">Employee Relieving Letter</a></li>
                <li><a routerLink="/consumer-complaint-letter">Consumer Complaint Letter</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->


      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Daily Business</strong></h6>
          <ul class="list-unstyled">

              <li><a routerLink="/bill-of-sale">Bill of Sale</a></li>
              <li><a routerLink="/direct-selling-agreement">Direct Selling Agreement</a></li>
              <li><a routerLink="/estimate-sample">Estimate Sample</a></li>
              <li><a routerLink="/final-invoice">Final Invoice</a></li>
              <li><a routerLink="/purchase-order">Purchase Order</a></li>
              <li><a routerLink="/statement-of-work">Statement of Work</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->


      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong> Legal Agreements</strong></h6>
          <ul class="list-unstyled">
              <li><a routerLink="/legal-notice">Legal Notice</a></li>
              <li><a routerLink="/power-of-attorney">Power of Attorney</a></li>
              <li><a routerLink="/right-to-information">Right to Information</a></li>
              <li><a routerLink="/service-level-agreement">Service Level Agreement</a></li>
              <li><a routerLink="/termination-of-agreement">Termination of Agreement</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->


    </div><!-- end row -->

      <div class="row g-3">
      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Banking &amp; Finance</strong></h6>
          <ul class="list-unstyled">
              <li><a routerLink="/account-opening-resolution">Account Opening Resolution</a></li>
              <li><a routerLink="/cheque-payment-stop-letter">Cheque Stop Payment Letter</a></li>
              <li><a routerLink="/promissory-note">Promisory note</a></li>
              <li><a routerLink="/cheque-dishonor-notice-section-one-three-eight">Section 138 (Cheque Dishonor Notice)</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->

      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Business Agreements</strong></h6>
          <ul class="list-unstyled">
              <li><a routerLink="/agreement-extension">Extension of Agreement</a></li>
              <li><a routerLink="/independent-contractor-agreement">Independent Contractor Agreement</a></li>
              <li><a routerLink="/memorandum-of-understanding">Memorandum of Understanding</a></li>
              <li><a routerLink="/nda-third-party">NDA for Third Party</a></li>
              <li><a routerLink="/website-disclaimer-policy">Website Disclaimer Policy</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Real Estate</strong></h6>
          <ul class="list-unstyled">
            <li><a routerLink="/residential-lease-deed">Lease Deed – Residential</a></li>
            <li><a routerLink="/commercial-lease-deed">Lease Deed – Commercial</a></li>
            <li><a routerLink="/notice-to-vacate-tenant">Notice to vacate Tenant</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
      <div class="col-lg-3 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong> Document Kits</strong></h6>
          <ul class="list-unstyled">
             <li><a routerLink="/essential-business-agreement-kit">Essential Business Agreements Kit</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
    </div><!-- end row -->
  </div> <!-- dropdown-mega-menu.// -->
</li><!-- Legal Drafting End -->
