<li class="nav-item dropdown has-megamenu">
<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Registation &amp; Licences</a>
<div class="dropdown-menu megamenu" role="menu">
  <div class="row g-3">
    <div class="col-lg-12 col-6">
      <div class="col-megamenu">
        <ul class="list-unstyled">
          <li><a class="dropdown-item" routerLink="/digital-signature">Digital Signature </a></li>
          <li><a class="dropdown-item" routerLink="/pf-registration">PF Registration </a></li>
          <li><a class="dropdown-item" routerLink="/import-export-code-registration">Import Export Code Registration </a></li>
          <li><a class="dropdown-item" routerLink="/startup-india-registration">Startup India Registration</a></li>
          <li><a class="dropdown-item" routerLink="/ssi-msme-registration">SSI - MSME Registration</a></li>
          <li><a class="dropdown-item" routerLink="/shop-establishment-registration">Shop &amp; Establishment Registration</a></li>
          <li><a class="dropdown-item" routerLink="/professional-tax-registration">Professional Tax Registration</a></li>
          <li><a class="dropdown-item" routerLink="/pan-application">PAN Application</a></li>
          <li><a class="dropdown-item" routerLink="/tan-application">TAN Application</a></li>
          <li><a class="dropdown-item" routerLink="/fssai-registration">FSSAI Registration</a></li>
          <li><a class="dropdown-item" routerLink="/esi-registration">ESI Registration</a></li>
        </ul>
      </div>  <!-- col-megamenu.// -->
    </div><!-- end col-3 -->
  </div><!-- end row -->
</div> <!-- dropdown-mega-menu.// -->
</li>
