
			<li class="nav-item dropdown has-megamenu">
				<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Compliance</a>
				<div class="dropdown-menu megamenu" role="menu">
					<div class="row g-3">
						<div class="col-lg-3 col-6">
							<div class="col-megamenu">
								<h6 class="title"><strong>Corporate Compliance</strong></h6>
								<ul class="list-unstyled">
									  <li><a routerLink="/annual-compliance-private-limited-company">Annual Compliances for Private Limited Company</a></li>
									  <li><a routerLink="/annual-filing-limited-liablity-partnership">Annual Filing for Limited Liability Partnership</a></li>
									  <li><a routerLink="/file-dir-three-kyc">File DIR-3 KYC</a></li>
									  <li><a routerLink="/file-inc-twenty-a">File INC-20A</a></li>
									  <li><a routerLink="/file-inc-twenty-two-a">File INC-22A</a></li>
								</ul>
							</div>  <!-- col-megamenu.// -->
						</div><!-- end col-3 -->



								<div class="col-lg-3 col-6">
							<div class="col-megamenu">
								<h6 class="title"><strong>Update Corporate Information</strong></h6>
								<ul class="list-unstyled">
								  <li><a routerLink="/add-remove-director">Add or Remove a Director (Company)</a></li>
								  <li><a routerLink="/add-remove-partner">Add or Remove a Partner (LLP)</a></li>
								  <li><a routerLink="/change-business-activity">Change Business Activity</a></li>
								  <li><a routerLink="/change-registered-office">Change Registered Office</a></li>
								  <li><a routerLink="/change-company-name">Change Company Name</a></li>
								  <li><a routerLink="/change-limited-liablity-partnership-agreement">Change LLP Agreement</a></li>
								  <li><a routerLink="/change-partnership-deed">Change Partnership Deed</a></li>
								  <li><a routerLink="/increase-authorised-share-capital">Increase Authorised Share Capital</a></li>
								</ul>
							</div>  <!-- col-megamenu.// -->
						</div><!-- end col-3 -->
						<div class="col-lg-3 col-6">
							<div class="col-megamenu">
								<h6 class="title"><strong>Close a Business</strong></h6>
								<ul class="list-unstyled">
								  <li><a routerLink="/close-private-limited-company">Close a Private Limited Company</a></li>
								  <li><a routerLink="/close-limit-liablity-partnership">Close a Limited Liability Partnership</a></li>
								  <li><a routerLink="/close-one-person-company">Close a One Person Company</a></li>
								  <li><a routerLink="/dissolve-partnership-firm">Dissolve a Partnership Firm</a></li>
								</ul>
							</div>  <!-- col-megamenu.// -->
						</div>


							<div class="col-lg-3 col-6">
							<div class="col-megamenu">
								<h6 class="title"><strong>Accounting</strong></h6>
								<ul class="list-unstyled">
								   <li><a routerLink="/accounting-and-bookkeeping">Accounting and Bookkeeping</a></li>
								</ul>
							</div>  <!-- col-megamenu.// -->
						</div><!-- end col-3 -->


					</div><!-- end row -->
				</div> <!-- dropdown-mega-menu.// -->

			</li><!-- Accounting & compliance End -->
