<li class="nav-item dropdown has-megamenu">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Tradmark/IP</a>
  <div class="dropdown-menu megamenu" role="menu">
    <div class="row g-3">
      <div class="col-lg-4 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Trademark</strong></h6>
          <ul class="list-unstyled">
            <li><a routerLink="/trademark-registration">Trademark Registration</a></li>
            <li><a routerLink="/trademark-objection-reply">Trademark Objection Reply </a></li>
            <li><a routerLink="/trademark-opposition">Trademark Opposition</a></li>
            <li><a routerLink="/trademark-assignment">Trademark Assignment</a></li>
            <li><a routerLink="/trademark-renewal">Trademark Renewal</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
      <div class="col-lg-4 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Patent</strong></h6>
          <ul class="list-unstyled">
            <li><a routerLink="/patent-search">Patent Search</a></li>
            <li><a routerLink="/provisional-patent">Provisional Patent</a></li>
            <li><a routerLink="/permanent-patent">Permanent Patent</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div><!-- end col-3 -->
      <div class="col-lg-4 col-6">
        <div class="col-megamenu">
          <h6 class="title"><strong>Copyright</strong></h6>
          <ul class="list-unstyled">
            <li><a routerLink="/copyright-registration">Copyright Registration</a></li>
          </ul>
        </div>  <!-- col-megamenu.// -->
      </div>

    </div><!-- end row -->
  </div> <!-- dropdown-mega-menu.// -->

</li><!-- Menu Intelectual Property End -->
